body {
    color: rgb(238, 238, 238);
        background: rgb(228, 25, 25);
        margin: 0%;
   
        .chamada {
            background: rgb(171, 22, 22);
            padding-bottom: 80px;
            padding-top: 80px;
            display: flex;
            justify-content: center;
            font-family: "Faculty Glyphic", sans-serif;
        }
            

.chamada-texto {
    margin-right: 5%;
}

header {
    border-bottom: solid 2px rgb(48, 33, 98);
    padding: 20px;
    font-size: 34px;
    color:rgb(238, 238, 238)
}

h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }
 
  img {
    height: 200px;
  }
  
  
    .categoria {
        padding-left: 20px;
        padding-right: 20px;
      }
      /* código omitido */

      .categoria-videos img {
        opacity: 0.5;
        height: 200px
    }
    
    .categoria-videos img:hover {
        opacity: 1.0;
        border: 1px solid green;
}
  }
